<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/masterTemplate :: layout(~{::head}, ~{::nav}, ~{::main})}">
<head th:replace="~{fragments/head :: headFragment(title='Sparta Global - Home')}">
    <meta charset="UTF-8">
    <link rel ="stylesheet" type="text/css" media="all" href="static/css/style.css"/>
    <link rel ="stylesheet" type="text/css" media="all" href="webjars/bootstrap/4.5.2/css/bootstrap.css"  />
    <title>Default Title</title>
</head>
<body>
<nav th:replace="~{fragments/publicNavigation}">Navigation</nav>
<main>
    <div class="jumbotron">
        <div class="container-fluid">
            <h5>Make New Post</h5>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">New Post</button>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">New Notice</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="#"  method="post">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Notice Type</label>
                                    <input type="text" class="form-control" id="recipient-name" placeholder="E.g: Deliveries, Announcement, Update, Rules etc">
                                </div>
                                <div class="form-group">
                                    <label for="recipient-name4" class="col-form-label">Topic</label>
                                    <input type="text" class="form-control" id="recipient-name4" placeholder="Please enter a topic here">
                                </div>
                                <div class="form-group">
                                    <label for="recipient-name1" class="col-form-label">Assign Staff</label>
                                    <input type="text" class="form-control" id="recipient-name1" placeholder="Enter Staff ID">
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">Message:</label>
                                    <textarea class="form-control" id="message-text" placeholder="Please enter the Details of the post in here"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Send message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <hr class="my-4"></hr>
            <br/>
            <h5>Student Notice Board</h5>
            <br/>
            <div class="card border-secondary mb-3 container-fluid" >
                <div class="card-header" >Notice-Type</div>
                <div class="card-body text-secondary">
                    <h5 class="card-title" >Topic</h5>
                    <p class="card-text" >Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <form>
                        <div class="dropdown">
                            <div class="btn">
                                <select class="form-control" id="dropAdmins" name="adminId" >
                                    <option value="0">Select Staff Members</option>
                                    <option ></option>
                                </select>
                            </div>
                        </div>
                    <br/>
                    <button type="submit" class="btn btn-primary btn-success" >Assign Staff</button>
                    <button type="submit" class="btn btn-primary btn-danger" >Delete</button>
                    </form>
                </div>
                <div class="card-footer text-muted">
                    <a>Staff Assigned:</a>
                    <br/>
                    <a>Date Posted:</a>
                </div>
            </div>
        </div>
        <hr class="my-4"></hr>
    </div>
</main>
</body>
</html>