<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/masterTemplate :: layout(~{::head}, ~{::nav}, ~{::main})}">
<head th:replace="~{fragments/head :: headFragment(title='Sparta Global - Home')}">
    <meta charset="UTF-8">
    <link rel ="stylesheet" type="text/css" media="all" href="static/css/style.css"/>
    <link rel ="stylesheet" type="text/css" media="all" href="webjars/bootstrap/4.5.2/css/bootstrap.css"  />
    <title>Default Title</title>
</head>
<body>
<nav th:replace="~{fragments/publicNavigation}">Navigation</nav>
<main>
    <div class="jumbotron">
        <h5>Staff Details</h5>
        <hr class="my-4"></hr>
        <div class="container-fluid">
            <div class="card-deck">
                <div th:each="admin : ${admins}" class="card" >
                    <img src="images/managementStaff1" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${admin.adminFirstname} + ' ' + ${admin.adminLastname}">John Doe</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" th:text="'Role: ' + ${admin.adminRole}">Role: Head of Security</li>
                        <li class="list-group-item" th:text="'Email: ' + ${admin.adminEmail}">Email: john@sparta.com</li>
                        <li class="list-group-item" th:text="'Phone: ' + ${admin.adminPhoneno}">Phone: 07739398555</li>
                        <li class="list-group-item">On Site</li>
                    </ul>
                </div>
<!--                <div class="card" >-->
<!--                    <img src="..." class="card-img-top" alt="...">-->
<!--                    <div class="card-body">-->
<!--                        <h5 class="card-title">John Doe</h5>-->
<!--                    </div>-->
<!--                    <ul class="list-group list-group-flush">-->
<!--                        <li class="list-group-item">Role: Head of Security</li>-->
<!--                        <li class="list-group-item">Email: john@sparta.com</li>-->
<!--                        <li class="list-group-item">Phone: 07739398555</li>-->
<!--                        <li class="list-group-item">On Site</li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--                <div class="card" >-->
<!--                    <img src="..." class="card-img-top" alt="...">-->
<!--                    <div class="card-body">-->
<!--                        <h5 class="card-title">John Doe</h5>-->
<!--                    </div>-->
<!--                    <ul class="list-group list-group-flush">-->
<!--                        <li class="list-group-item">Role: Head of Security</li>-->
<!--                        <li class="list-group-item">Email: john@sparta.com</li>-->
<!--                        <li class="list-group-item">Phone: 07739398555</li>-->
<!--                        <li class="list-group-item">On Site</li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--                <div class="card" >-->
<!--                    <img src="..." class="card-img-top" alt="...">-->
<!--                    <div class="card-body">-->
<!--                        <h5 class="card-title">John Doe</h5>-->
<!--                    </div>-->
<!--                    <ul class="list-group list-group-flush">-->
<!--                        <li class="list-group-item">Role: Head of Security</li>-->
<!--                        <li class="list-group-item">Email: john@sparta.com</li>-->
<!--                        <li class="list-group-item">Phone: 07739398555</li>-->
<!--                        <li class="list-group-item">On Site</li>-->
<!--                    </ul>-->
<!--                </div>-->
            </div>
        </div>

        <hr class="my-4"></hr>
    </div>
</main>
</body>
</html>