<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/masterTemplate :: layout(~{::head}, ~{::nav}, ~{::main})}">
<head th:replace="~{fragments/head :: headFragment(title='Sparta Global - Home')}">
    <meta charset="UTF-8">
    <link rel ="stylesheet" type="text/css" media="all" href="static/css/style.css"/>
    <link rel ="stylesheet" type="text/css" media="all" href="webjars/bootstrap/4.5.2/css/bootstrap.css"  />
    <title>Default Title</title>
</head>
<body>
<nav th:replace="~{fragments/publicNavigation}">Navigation</nav>
<main>
    <div class="card">
        <div class="card-header">
            Room Booking
        </div>
        <div class="card-body">
            <h5 class="card-title">Enter your Details below:</h5>
            <form action="#" th:action="@{/roomBooking}" th:object="${enquiry}" method="post">
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="name">Name</label>
                        <input type="text" class="form-control shadow p-3 mb-5 bg-white rounded" id="name" th:field="*{enquirerName}" placeholder="Full Name"  required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="number">Mobile Number</label>
                        <input type="text" class="form-control shadow p-3 mb-5 bg-white rounded" id="number" placeholder="Mobile Number" th:field="*{enquirerNumber}" required>
                    </div>

                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control shadow p-3 mb-5 bg-white rounded" id="email" placeholder="Email Address" th:field="*{enquirerEmail}" aria-describedby="emailHelp">
                        <small id="emailHelp" class="form-text text-muted">We will not share your email with anyone.</small>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="content">Textarea</label>
                        <textarea class="form-control is-invalid shadow p-3 mb-5 bg-white rounded" id="content" placeholder="Please enter the room, date and time here. MAX 250 CHARACTERS" th:field="*{enquiryContent}" required ></textarea>
                    </div>
                </div>
                <div class="dropdown">
                    <select class="form-control" id="dropHalls" name="hallId" th:field="*{hallId}">
                        <option value="0">Please Select a hall</option>
                        <option th:each="hall : ${halls}" th:value="${hall.hallsId}" th:text="${hall.hallName}"></option>
                    </select>
                </div>
                <div class="dropdown">
                    <select class="form-control" id="dropRooms" name="dropRooms" th:field="*{publicRoomId}">
                        <option value="0">Please Select a Room</option>
                        <option th:each="room : ${rooms}" th:value="${room.publicRoomId}" th:text="${room.publicRoomName}"></option>
                    </select>
                </div>
                <br />
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                        <label class="form-check-label" for="invalidCheck2">
                            Agree to terms and conditions
                        </label>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Submit form</button>
            </form>
        </div>
    </div>
</main>

</body>
</html>