<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/masterTemplate :: layout(~{::head}, ~{::nav}, ~{::main})}">
<head th:replace="~{fragments/head :: headFragment(title='Sparta Global - Home')}">
    <meta charset="UTF-8">
    <link rel ="stylesheet" type="text/css" media="all" href="static/css/style.css"/>
    <link rel ="stylesheet" type="text/css" media="all" href="webjars/bootstrap/4.5.2/css/bootstrap.css"  />
    <title>Default Title</title>
</head>
<body>
<nav th:replace="~{fragments/publicNavigation}">Navigation</nav>
<main>
    <div class="jumbotron">
        <h2>Rules and Regulations</h2>
        <hr class="my-4"></hr>
        <h5>Rules</h5>
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Guests
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        Guests are expected to abide by all campus rules and regulations. Hosts are responsible for the behaviour of their guests and will be held liable by the University of Sparta Disciplinary Team for any misconduct and/or rule violation on the part of their guests, or for complaints from other residents about them. This responsibility extends to guest conduct that occurs anywhere on University of Sparta property and is not limited to residential halls.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Damages
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        Any damage caused to University of Sparta property caused by a resident must be reported to administrative services as soon as possible in the interest of of the Health and Safety of all personnel on University of Sparta property. Failure or reluctance to report damages before detection by university personnel <will></will> result in a fine. Depending on the severity of damages caused, this may result in termination of the resident's tenancy.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Fire Alarms
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        If a fire alarm sounds off, residents and any guests will be required to evacuate the building through the main entrance in order to assess the situation. Only once personnel have given the all clear is re-entry permitted. Anyone found remaining in the building during a fire alarm or drill will be fined £50. Anyone found to have set off the fire alarm intentionally will be fined £150. Anyone found to be tampering with a fire alarm or any fire detection equipment will be fined £300.
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-4"></hr>
        <h5>Regulations</h5>
        <div class="accordion" id="accordionExample2">
            <div class="card">
                <div class="card-header" id="headingFour">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                            Smoking
                        </button>
                    </h2>
                </div>

                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card-body">
                        Smoking is prohibited in all University of Sparta buildings. Students are permitted to smoke outside, provided that they are stood at least 10 metres from any entrance to a University of Sparta building and that there is no smoke migration into said University buildings. This includes E-Cigarettes. Evidence of smoking within any hall of residence will result in a £100 fine. Tampering with any of the fire detection equipment within a residence hall to disguise indoor smoking will result in a £500 fine.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFive">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            Drinking
                        </button>
                    </h2>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                    <div class="card-body">
                        The consumption of alcohol is permitted in any space in the halls of residence, with the exception of the reception and public walkways. Residents found to be drinking alcohol in the public areas described will receive a £50 fine. As a general guideline, residents should limit their drinking to their individual rooms, shared spaces or social spaces. While the degree of consumption will not be monitored, residents will still be held liable for their conduct even if under the influence of alcohol; misconduct and noise complaints will be dealt with by the University of Sparta Disciplinary Team.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingSix">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            Guest Parking
                        </button>
                    </h2>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                    <div class="card-body">
                        Guests who need to park are required to register their vehicle at the reception in order to acquire a parking permit for the duration of their stay. Each permit carries 3 days of free parking, after which the guest will be required to pay an additional fee for each day beyond the third that they are parked. Failure to observe these rules will be met with a £50 fine for each day that this rule has been violated.
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>