<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(head, nav, main)">
<head th:replace="${head}">
    <link rel ="stylesheet" type="text/css" media="all" href="static/css/style.css" />
    <link rel ="stylesheet" type="text/css" media="all" href="webjars/bootstrap/4.5.2/css/bootstrap.css" />
<!--    <script src="webjars/bootstrap/4.5.2/js/bootstrap.js" />-->
<!--    <script src="webjars/jquery/3.5.1/jquery.js" />-->
<!--    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>-->
<!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>-->
    <title>Master</title>
</head>
<body class="body">
<div class="container-fluid">
    <nav th:replace="${nav}">Default Navigation</nav>
    <main th:replace="${main}">
        <p>Default Page for ThymeLeaf</p>
    </main>
    <footer th:replace="fragments/footer :: footerFragment">
        Default Footer
    </footer>
</div>
</body>
</html>